*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}
/*HEADER*/
header{
    background-color: white;
}

h1{
    display: inline-block;
}

/*BANNER*/
.banner{
    width: 80%;
    font-size: 24px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 100px;
}

.logo{
    vertical-align: middle;
    width: 50px;
}

.logo-text{
    vertical-align: middle;
    line-height: 100px;
}

/*MAIN*/
main{
    width: 60%;
    margin: 50px auto;
}

/*BUTTONS*/
.buttons-section{
    vertical-align: middle;
    line-height: 50px;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
}

.add-button{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    font-size: small;
    font-weight: bold;
    color: lightgray;
}

.add-button.add-task{
    background-color: #47adf1;
    color: white;
}

/*TASKS*/
.tasks{
    vertical-align: middle;
    line-height: 40px;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    color: #444851;
    vertical-align: middle;
    font-weight: bold;
    border-radius: 10px;
}

.tasks-list{
    list-style-type: none;
}

/* .arrow-down {
    width: 0; 
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #444851;
  } */

.main-point{
    font-weight: bolder;
    margin-top: 20px;
  }

.list-marker{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding: 1px;
    margin-right: 10px;
    display: inline-block;
    line-height: 25px;
}

.list-marker.check{
    color: green;
    border-color: green;
}

.list-marker.cross{
    color: red;
    border-color: red;
}

/*TASK TAGS*/
.task-tag{
    border: 1px solid lightgray;
    border-radius: 80px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 11px;
    color: lightgray;
    display: inline-block;
    line-height: 15px;
}

.task-tag.editorial-tag{
    background-color: #47adf1;
    color: white;
}

.task-tag.q1goals-tag{
    background-color: #9c72e4;
    color: white;
}

.task-tag.recruiting-tag{
    background-color: #64c0a9;
    color: white;
}

.task-tag.mobile-tag{
    background-color: #f29e33;
    color: white;
}

.task-tag.website-tag{
    background-color: #d863a1;
    color: white;
}

.task-tag.sales-tag{
    background-color: #b0c926;
    color: white;
}