*{
    margin: 0;
    padding: 0;
}

/*BODY*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: red;
}

header{
    background-color: white;
}

h1{
    display: inline-block;
}

.banner{
    width: 80%;
    font-size: 24px;
    margin: 0 auto;
}

.logo{
    vertical-align: middle;
    width: 50px;
}

.logo-text{
    vertical-align: middle;
    line-height: 100px;
}